*.swp
*.log
*.tar
*.gz
*.sql
*.zip
*.7z
*.rar

node_modules
grunt

bitrix/templates/main/build.css
bitrix/templates/main/build.js
bitrix/templates/main/images/icons_sprite.png

robots.txt

urlrewrite_.php
test.php

index.html

# bitrix tmp dirs
bitrix/cache
bitrix/managed_cache
bitrix/tmp

.source_of_symbolic_links

#SYMBOLIC_LINKS_START#

# configs (security)
dbconfig.php
bitrix/license_key.php

# backups
bitrix/backup

# bitrix system dirs
bitrix/.access.php
bitrix/activities
bitrix/activity_limit.php
bitrix/admin
bitrix/click.php
bitrix/components/bitrix
bitrix/coupon_activation.php
bitrix/fonts
bitrix/footer.php
bitrix/gadgets
bitrix/header.php
bitrix/image_uploader
bitrix/images
bitrix/index.php
bitrix/js
bitrix/modules
bitrix/otp
bitrix/p3p.xml
bitrix/panel
bitrix/redirect.php
bitrix/rk.php
bitrix/rss.php
bitrix/services
bitrix/sounds
bitrix/spread.php
bitrix/template
bitrix/themes
bitrix/tools
bitrix/urlrewrite.php
bitrix/virtual_file_system.php
bitrix/web.config
bitrix/wizards
bitrix/updates

# upload dir
upload
