/**
 * Main page styles (printer)
 *
 * @author Viacheslav Lotsmanov
 */

html.main_page body main section.main_page {
	@areaMinHeight: 400px;

	.top_area { // {{{1
		display: block;
		.size(100%);
		.relative;
		min-height: @areaMinHeight;
		.bg('main_page/01.jpg', center center no-repeat);
		.background-size(cover);

		.logo_wrap {
			display: block;
			.size(100%);
			text-align: center;
			.fontMetrics(0, 0);

			.helper {
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}

			.logo_2 {
				display: inline-block;
				vertical-align: middle;
			} // .logo_2
		} // .logo_wrap_1

		.scroll_down {
			@iconWidth: 50px;

			.linkNoLine;
			&:extend(.icon_V);
			display: block;
			.absolute(auto, auto, 36px - 8px, 50%);
			margin-left: -(@iconWidth / 2);
			cursor: pointer;
		}
	} // .top_area }}}1
} // html.main_page body main

html.ie8 body main { // IE8 {{{1
	.top_area {
		-ms-behavior: url('@{tplPath}ie8/backgroundsize.min.htc');
	}
} // IE8 }}}1
