/**
 * Icons styles
 *
 * @author Viacheslav Lotsmanov
 */

.icons_sprite {
	display: inline-block;
	overflow: hidden;
	.size(1px);
	.bg('icons_sprite.png', 1px 1px no-repeat);
}

.icon_wi_logo { &:extend(.icons_sprite); .size(15px); background-position: -1px -1px; }
.icon_wi_logo_active { &:extend(.icon_wi_logo); background-position: -1px -17px; }

.icon_clover { &:extend(.icons_sprite); .size(16px, 14px); background-position: -17px -1px; }

.icon_V { &:extend(.icons_sprite); .size(50px, 36px); background-position: -34px -1px; }
.icon_V_active { &:extend(.icon_V); background-position: -85px -1px; }

.icon_left_arrow { &:extend(.icons_sprite); .size(8px, 15px); background-position: -136px -1px; }
.icon_left_arrow_hover { &:extend(.icon_left_arrow); background-position: -136px -17px; }
.icon_left_arrow_active { &:extend(.icon_left_arrow); background-position: -136px -33px; }

.icon_leaf { &:extend(.icons_sprite); .size(26px, 17px); background-position: -145px -1px; }
.icon_leaf_hover { &:extend(.icon_leaf); background-position: -145px -19px; }
.icon_leaf_active { &:extend(.icon_leaf); background-position: -145px -37px; }

.icon_corner { &:extend(.icons_sprite); .size(19px); background-position: -172px -1px; }
.icon_corner_hover { &:extend(.icon_corner); background-position: -172px -21px; }
.icon_corner_active { &:extend(.icon_corner); background-position: -172px -41px; }

.icon_sub_menu_right_arrow { &:extend(.icons_sprite); .size(13px, 26px); background-position: -192px -1px; }

.icon_photo_frame { &:extend(.icons_sprite); .size(295px, 195px); background-position: -1px -150px; }

/* template {{{1

.icon_X { &:extend(.icons_sprite); .size(px, px); background-position: -px -px; }
.icon_X_hover { &:extend(.icon_X); background-position: -px -px; }
.icon_X_active { &:extend(.icon_X); background-position: -px -px; }

}}}1 */
