/**
 * Icons styles
 *
 * @author Viacheslav Lotsmanov
 */

@import "icons/icons";

.icons_sprite {
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
}

// icons {{{1

.icon-wi_logo,
.icon-wi_logo_active,

.icon-clover,

.icon-V,
.icon-V_active,

.icon-left_arrow,
.icon-left_arrow_hover,
.icon-left_arrow_active,

.icon-leaf,
.icon-leaf_hover,
.icon-leaf_active,

.icon-corner,
.icon-corner_hover,
.icon-corner_active,

.icon-right_filled_arrow_dark,

.icon-right_filled_arrow_light,
.icon-right_filled_arrow_light_active,

.icon-photo_frame,

.icon-man,

.icon-airplane,
.icon-train,
.icon-bus,
.icon-car,

.icon-oars

{
	&:extend(.icons_sprite);
	.bgImg('icons_sprite.png');
}

// icons }}}1

// book {{{1
// book }}}1
