/**
 * Main less module
 *
 * @author Viacheslav Lotsmanov
 */

/* === VARIABLES === */

@import "variables";

/* === MIXINS AND RESETS === */

@import "reset";
@import "mixins";
@import "icons";

/* === FONTS === */

@import "fonts";

/* === ELEMENTS === */

@import "header";
@import "footer";

/* === PAGES === */

@import "pages/main";
@import "pages/homestead";
@import "pages/homestead_subpage";
@import "pages/contacts";
@import "pages/activities";
@import "pages/activities_subpage";

/* === STYLES === */

html, body {
	.size(100%);
	min-height: 100%;
}

:focus { outline: none; }

html body {
	overflow-y: scroll;
	color: @contentColor;
	font: @contentFont;
	.bg('bg_texture.png', center center repeat);
	background-color: @lightBgColor;

	.top_side {
		display: block;
		min-width: @minWidth;
		min-height: 100%;

		main { // {{{1
			display: block;
			padding-bottom: @footerHeight;
			padding-top: @headerHeight;

			a { .simpleLink; }

			h2 {
				display: block;
				color: @dark2Color;
				.customFont('PT Sans', 20px, 22px);
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
			}

			h3 {
				display: block;
			}

			h4 {
				display: block;
			}

			ul { // {{{2
				display: block;

				li {
					display: block;
					.relative;

					&:before {
						.pseudoBlock('\e801');
						.absolute(3px, auto, auto, -12px);
						.customFont('fontello', 20px, 20px);
					}
				}

				li + li { margin-top: 24px; }
			} // ul }}}2

			ol { // ol {{{2
				display: block;
				.relative;
				counter-reset: customlistcounter;

				li {
					display: block;
					padding-left: 40px;
					.relative;

					&:before {
						.pseudoBlock();
						width: 40px;
						.absolute(0, auto, auto, 0);
						text-align: center;
						color: #000;
						content: counter(customlistcounter, decimal) '.';
						counter-increment: customlistcounter;
					}
				}
			} // ol }}}2

			blockquote { // {{{2
				display: block;
			} // blockquote }}}2

			// margins and paddings of content tags {{{2

			// p
			p + p, blockquote + p { padding-top: 24px; }
			h2 + p { padding-top: 29px; }
			h3 + p { padding-top: 25px; }
			h4 + p { padding-top: 26px; }

			// img.elastic
			p + img.elastic, h2 + img.elastic, h3 + img.elastic, h4 + img.elastic, ul + img.elastic, blockquote + img.elastic { margin-top: 33px; }

			// h3
			h3 + h3, p + h3, h2 + h3, h1 + h3, ul + h3, blockquote + h3 { padding-top: 39px; }

			// h4
			h4 + h4, p + h4, ul + h4, blockquote + h4 { padding-top: 41px; }

			// ul, ol
			ul + ul, p + ul, h2 + ul, h3 + ul, h4 + ul, blockquote + ul { padding-top: 24px; }
			ol + ol, p + ol, h2 + ol, h3 + ol, h4 + ol, blockquote + ol { padding-top: 24px; }

			// blockquote
			p + blockquote, h2 + blockquote, h3 + blockquote, h4 + blockquote, ul + blockquote { padding-top: 24px; }

			i, em { font-style: italic; }
			b, strong { font-weight: bold; }

			// margins and paddings of content tags }}}2

			.non_break { white-space: nowrap; }

			img.sticky { // {{{2
				&.left {
					float: left;
					margin-right: @mainMargin;
					margin-bottom: @mainMargin;
				}

				&.right {
					float: right;
					margin-left: @mainMargin;
					margin-bottom: @mainMargin;
				}
			} // img.sticky }}}2
		} // main }}}1

		h1.page_title { // {{{1
			display: block;
			.customFont('PT Sans', 40px, 42px);
			font-weight: bold;
			text-transform: uppercase;
			color: @dark2Color;
			text-align: center;
			padding-top: 67px - 36px + @headerHeight;
			padding-bottom: 34px - 6px;
		} // h1.page_title // }}}1

		h1.page_title + main { padding-top: 0; }
	} // .top_side
} // html body
